* {
    box-sizing: border-box;
}

nav{
  position: fixed;
  width: 100%;
  height: 16%;
}
.nav-logo{
  width: 75%;
  height: 100%;
  float: left;
}
.nav-logo img{
  width: 90%;
  height: 100%
}

.but-image {
  width: 25%;
  height: 100%;
  float: right;
}

.but-image img{
  width: 100%;
  height: 90%;
  padding: 4px;
}


.but-image img:hover{
  opacity: .6;
  background-color: grey;
  padding-top: 2.5%;
  padding-right: 2.5%;

}

.sidenav {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
}


@media screen and (min-width: 768px), all and (orientation: landscape) {
  .desk-hide{
    display: none;
  }
  .but-image img{
    display: none;
  }

  nav{
    background-color: grey;
    height: 100%;
    width: 18%;
    position: fixed;
  }

  .nav-logo{
    width: 100%;
  }

  .nav-logo img{
    width: 100%;
    float: left;
    height: auto;
    z-index: 10;
  }

  .sidenav{
    width: 100%;
    background-color: transparent;
    left: 0;
    padding-top: 100px;
    position: absolute;
  }
  #mySidenav{
    width:100;
  }

  .sidenav a{
    color: black;
  }

  .sidenav a:hover{
    background-color: blue;
  }

  .but-image{
    display: none;
  }

  .closebtn{
    visibility: hidden;
  }

}

/*
@media screen and (min-width: 520px) {

}

@media screen and (min-width: 992px) {

  .desk-hide{
    display: none;
  }
  .but-image img{
    display: none;
  }

  nav{
    background-color: grey;
    height: 100%;
    width: 17%;
    position: fixed;
  }
  .nav-logo img{
    height: 90px;
    width: 100%;
    float: left;
    z-index: 10;
  }

  #mySidenav{
    width: 100%;
  }

  .sidenav{
    width: 180px;
    background-color: transparent;
    left: 0;
    padding-top: 100px;
    position: relative;
    z-index: -5;
  }

  .sidenav a{
    color: black;
  }

  .sidenav a:hover{
    background-color: blue;
  }

  .closebtn{
    visibility: hidden;
  }

}

*/
