* {
    box-sizing: border-box;
}

nav{
  position: fixed;
  width: 100%;
  height: 7%;
}
.nav-logo img{
  height: 90px;
  width: 70%;
  float: left;
}

.but-image img{
  width: 24%;
  float: right;
  padding-top: 1.5%;
  padding-right: 1.5%;
}

.but-image img:hover{
  opacity: .6;
  background-color: grey;
  padding-top: 2.5%;
  padding-right: 2.5%;

}

@media screen and (min-width: 520px) {

}

@media screen and (min-width: 992px) {

  .desk-hide{
    display: none;
  }
  .but-image img{
    display: none;
  }

  nav{
    background-color: grey;
    height: 100%;
    width: 10%;
  }
  .nav-logo img{
    height: 90px;
    width: 100%;
    float: left;
    z-index: 10;
  }

  #mySidenav{
    width: 100%;
  }

  .sidenav{
    width: 180px;
    background-color: transparent;
    left: 0;
    padding-top: 100px;
    position: relative;
    z-index: -5;
  }

  .sidenav a{
    color: black;
  }

  .sidenav a:hover{
    background-color: blue;
  }

  .closebtn{
    visibility: hidden;
  }

}
