body{
  margin: 0;
}

nav{
  background-color:orange;
  width: 100%;
  height: 10%;
  position: fixed;
}

.logo{
  background-color: blue;
  width: 80%;
  height: 100%;
  float: right;
  position: relative;
}

.logo img{
  width: 100%;
  height: 100%;
}

.button{
  background-color: red;
  width: 20%;
  height: 100%;
  float: right;
}


.button img{
  height: 100%;
  width: 90%;
  padding-left: 4%;
}

@media screen and (orientation:landscape) {
  .logo{
    background-color: grey;
  }
}
